body {

    background: linear-gradient(to bottom, #0d131b, #203c5fef, #42889f);
    color: white;
    min-height: 100vh;
    transition: background 1s ease, color 1s ease;
    height: 100vh;
    overflow: hidden;
    
}

:root{

    --quadrado1: linear-gradient(to bottom, #032d52, #b4e6fd); 
    --quadrado2: linear-gradient(to bottom, #fad5ac9d, #fd9663);
    --quadrado3: linear-gradient(to bottom, #001d0a, #aafddd);
    --page: linear-gradient(to bottom, #0a1d2e, #557e92);
    --color: white;
}

body.claro {

    background: linear-gradient(to bottom, #d4e5f3, #ffffff);
    color: #080808;
    height: 100vh;
    overflow: hidden;
    --quadrado1: linear-gradient(to bottom, #e0e7ed, #c8d7ff); 
    --quadrado2: linear-gradient(to bottom, #ece7e6, #fdd0d0);
    --quadrado3: linear-gradient(to bottom, #c3ffdb, #b8c6bd);
    --page: linear-gradient(to bottom, #ecececce, #87969d);
    --color: rgb(14, 37, 53);

}
